In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Buraydah,SA,2021-05-25 19:52:02,26.3260,43.9750,90.05,12,0,11.36
1,1,Bambous Virieux,MU,2021-05-25 19:54:47,-20.3428,57.7575,75.45,78,75,9.78
2,2,Yellowknife,CA,2021-05-25 19:53:59,62.4560,-114.3525,44.33,48,1,3.00
3,3,Leningradskiy,RU,2021-05-25 19:54:47,69.3833,178.4167,33.55,86,86,7.90
4,4,Cherskiy,RU,2021-05-25 19:54:48,68.7500,161.3000,50.63,40,100,5.57

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Bambous Virieux,MU,2021-05-25 19:54:47,-20.3428,57.7575,75.45,78,75,9.78
6,6,Gouyave,GD,2021-05-25 19:54:48,12.1646,-61.7296,84.97,70,20,15.43
10,10,Dingle,PH,2021-05-25 19:54:49,10.9995,122.6711,78.69,84,100,3.78
11,11,Puerto Ayora,EC,2021-05-25 19:54:49,-0.7393,-90.3518,84.16,85,39,8.01
17,17,Avarua,CK,2021-05-25 19:54:50,-21.2078,-159.7750,80.65,89,100,8.05
24,24,Rikitea,PF,2021-05-25 19:54:52,-23.1203,-134.9692,76.17,81,61,9.91
25,25,Kavieng,PG,2021-05-25 19:54:52,-2.5744,150.7967,77.99,89,100,9.37
32,32,Sola,VU,2021-05-25 19:54:54,-13.8833,167.5500,77.50,60,98,16.67
34,34,Cayenne,GF,2021-05-25 19:54:54,4.9333,-52.3333,84.24,85,75,5.99
35,35,Kapaa,US,2021-05-25 19:54:54,22.0752,-159.3190,81.48,67,9,4.00

In [10]:
preferred_cities_df.count()

City_ID       180
City          180
Country       180
Date          180
Lat           180
Lng           180
Max Temp      180
Humidity      180
Cloudiness    180
Wind Speed    180
dtype: int64

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1   Bambous Virieux      MU     75.45 -20.3428   57.7575
6           Gouyave      GD     84.97  12.1646  -61.7296
10           Dingle      PH     78.69  10.9995  122.6711
11     Puerto Ayora      EC     84.16  -0.7393  -90.3518
17           Avarua      CK     80.65 -21.2078 -159.7750
24          Rikitea      PF     76.17 -23.1203 -134.9692
25          Kavieng      PG     77.99  -2.5744  150.7967
32             Sola      VU     77.50 -13.8833  167.5500
34          Cayenne      GF     84.24   4.9333  -52.3333
35            Kapaa      US     81.48  22.0752 -159.3190

In [12]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [13]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Bambous Virieux,MU,75.45,-20.3428,57.7575,Casa Tia Villa
6,Gouyave,GD,84.97,12.1646,-61.7296,Rumboat Retreat
10,Dingle,PH,78.69,10.9995,122.6711,SEGAYA PROPERTY
11,Puerto Ayora,EC,84.16,-0.7393,-90.3518,Finch Bay Galapagos Hotel
17,Avarua,CK,80.65,-21.2078,-159.7750,Paradise Inn
...,...,...,...,...,...,...
542,Lethem,GY,84.52,3.3803,-59.7968,Savannah Inn
545,Kandrian,PG,78.89,-6.2167,149.5500,Kandrian Station
546,Daru,PG,76.78,-9.0763,143.2092,Daru Lodge
550,Luwuk,ID,77.70,-0.9516,122.7875,Hotel Santika Luwuk
553,Banda Aceh,ID,80.62,5.5577,95.3222,Sulthan Hotel International

In [15]:
#Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [18]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))